body{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

.header{
  position: relative;
  top: -22px;
  padding: 18px;
  margin: 0;
  text-align: center;
  color: #fff;
  background-color: rgb(26, 34, 34);
}
